header{
    background-color: #12161B;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    width: 30%;
    display: flex;
    align-items: center;  
}
.search input{
    height: 25px;
    margin-left: 10px;
    border: 1.5px solid #363A3D;
    border-radius: 5px;
    background-color: #0A0E12;
    color: #d8d8d2;
    padding: 0 15px;
}
.search input:hover{
    border: none;
}
.search{
    width: 80%;
    position: relative;
    display: inline-block;
}
.left{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drop{
    display: flex;
    align-items: center;
}
.img{
    width: 45px;
    border-radius: 50%;
}
// .dropdown{
//     display: flex;

// }
//button 1C6B2B
// input 0A0E12
// repazitori 0A0E12