header{
    background-color: #12161B;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    // width: 250px;
    display: flex;
    align-items: center;  
}
.forms{
    display: flex;
}
.search input{
    height: 25px;
    margin-left: 10px;
    border: 1.5px solid #363A3D;
    border-radius: 5px;
    background-color: #0A0E12;
    color: #d8d8d2;
    padding: 0 15px;
}
.search input:hover{
    border: none;
}
.search{
    width: 80%;
    position: relative;
    display: inline-block;
}
.drop{
    display: flex;
    align-items: center;
}
.img{
    width: 45px;
    border-radius: 50%;
}
@media screen and (max-width: 990px){
    .search{
        width: 50%;
    }
}
@media screen and (max-width: 790px){
    .block{
        height: 110px;

    }
    .forms{
        display: flex;
        align-items: flex-end;
    }
    .btn{
        height: 27px;
    }
    .search input{
        margin-top: 10px;
        margin-left: 0;
    }
    .right{
        display: block;
        margin-left: 10px; 
    }
    .search{
        width: 90px;
    }
    .left{
        margin-right: 10px; 
        margin-top: 30px;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}