:root{
    --gap: 1em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}
.UserInfo{
    padding: 20px;
    border-right: 1px solid #363A3D;
}
.img{
    background-color: #fff;
    height: calc(var(--index) * 15);
    width: calc(var(--index) * 15);
    border-radius: 50%;
}
.nickname{
    margin-top: 10px;
    font-weight: 700;
    color: #A1A7AE;
    font-size: calc(var(--index) * 1.3);
}
.fullname{
    margin-top: 6px;
    color: #8B949C;
    font-size: calc(var(--index) * 1.1);
}
.follow{
    display: flex;
    color: #8B949C;
    margin-top: 10px;
}
span{
    color: #fff;
    
}
.followers{
    padding-right: 10px;
}
.location{
    margin-top: 10px;
}
.location span{
    font-size: 16px;
}
.loc_logo{
    font-size: 20px;
}

@media screen and (max-width: 790px){
    .UserInfo{
        border-right: none;
        display: flex;
        border-bottom: 1px solid #363A3D;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }
    
}
@media screen and (max-width: 490px){
    .img{
        height: calc(var(--index) * 10);
        width: calc(var(--index) * 10);
    }
    .nickname{
        margin-top: 6px;
        font-size: calc(var(--index) * 1.1);
    }
    .fullname{
        margin-top: 4px;
        font-size: calc(var(--index) * .8);
    }
    .loc_logo{
        font-size: 13px;
    }
    .location span{
        font-size: 11px;
    }
    
}
@media screen and (max-width: 320px){
    .img{
        height: calc(var(--index) * 6);
        width: calc(var(--index) * 6);
    }
}