.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    width: 100%;
    display: flex;
    min-height: calc(100vh - 120px);
}
.left{
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
}
.page{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #363A3D;
    padding-bottom: 20px;
}
.page a{
    text-decoration: none;
}
.repositories{
    color: #A1A7AE;
    font-size: 18px;
    text-decoration: none;
}
.top{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.bottom{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.repositories span{
    margin-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    text-decoration: none;
    border-right: 1.5px solid #363A3D;
}
@media screen and (max-width: 790px){
    .content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .left{
        width: 100%;
        margin-left: 0;
    }
    .page{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@media screen and (max-width: 490px){
    .top{
        display: block;
    }
    .bottom{
        display: block;
    }
    .repositories{
        padding-top: 10px;
    }
    .repositories span{
        padding-bottom: 5px;
        border-right: none;
        border-bottom: 1.5px solid #363A3D;
    }
}