.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 60%;
    margin-top: 20px;
}
.page{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #363A3D;
    padding-bottom: 20px;
}
.page a{
    text-decoration: none;
}
.repositories{
    color: #A1A7AE;
    font-size: 18px;
    text-decoration: none;
}
.repositories span{
    padding-left: 10px;
    font-size: 16px;
    text-decoration: none;
}