.filter{
    display: flex;
    align-items: end;
    margin-left: 15px;
}
select{
    height: 30px;
    padding: 0 10px;
    background-color: #12161B;
    color: #d8d8d2;
    border: none;
}
span{
    color: #d8d8d2;
    font-size: 12px;
}

