footer{
    border-top: 1.5px solid #363A3D;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.links{
    color: #3081df;
    text-decoration: none;
    font-size: 16px;
}
.links:hover{
    text-decoration:underline;
}

@media screen and (max-width: 790px){
    .block{
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }
    nav{
        width: 40%;
    }
}
@media screen and (max-width: 490px){
    nav{
        width: 30%;
        display: block;
        justify-content: space-between;
    }
}