.user_follow{
    padding: 0 20px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1.5px solid #363A3D;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    color: #A1A7AE;
}
.img{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;     
}